# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
.venv.zip

# Django local files
db.sqlite3
media/
staticfiles/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Compiled files
*.so
*.egg-info/
